schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="emp">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="phone_no" type="xs:string"/>
      <xs:element name="salary" type="xs:integer"/>
	  <xs:element name="address">
		<xs:complexType>
			<xs:sequence>
			 <xs:element name="ofc_add" type="xs:string"/>
			 <xs:element name="home_add" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	  </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>

